<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="oncall-name" data-view="Text" data-title="Primary Oncall" data-moreinfo="Fix all the incidents!"</div>
    </li>    

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="firefighter-name" data-view="Text" data-title="Deploy Firefighter" data-moreinfo="Fix all the deploys!"></div>
    </li>

  </ul>
</div>
